* {
	font-family: 'Montserrat', sans-serif;
}
#left {
	background-color: #FEDCD2; 
}
#right {
	background-color: #8FD8D2;
}
#left, #right {
	height: 600px;
	margin-top: 50px;
}
#chat-log {
	height: 500px;
	color: #DF744A;
	overflow-y: auto;
	overflow-x: hidden;
}
#chat-log::-webkit-scrollbar {
    -webkit-appearance: none;
}
#chat-log::-webkit-scrollbar:vertical {
    width: 11px;
}
#chat-log::-webkit-scrollbar:horizontal {
    height: 11px;
}
#chat-log::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .1);
}
#visitor ul {
	background-color: #8FD8D2; 
}
#self-box, #others-box {
	background-color: rgba(255, 255, 255, 0.8); 
	border-radius: 10px;
	width: fit-content;
}
#cover {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	z-index: 99;
}
#cover > div {
	background-color: white;
	width: 60%;
	height: 40vh;
	margin: 0 auto;
	position: relative;
	top: 30vh;
}
#cover > div h1 {
	padding: 10px;
}
#btn-div {
	margin: 0 auto;
	width: fit-content;
}
