.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffb733;
    padding: 20px;
    width: 100%;

}

#display {
    width: 100%;

}

#slider {
    width:100%;

}

#length {
    display: inline-block;
    width: 100px;


}


.previous_passwords {
    margin-bottom: 30px;
    word-wrap: break-word;
}
